body {
    background-color: #f6f6f6;
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito", "Segoe UI", arial;
    color: #6c757d;
}
.section{
    display: block;
}

.main-content {
    padding-left: 280px;
    padding-right: 30px;
    padding-top: 130px;
    width: 100%;
    position: relative;
}

.row {
    display: -ms-flexbox;
    /* display: -webkit-box; */
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}   

/*Style.css*/
.card {
    background-color: #fff;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%),
     0 0.9375rem 1.40625rem rgb(90 97 105 / 10%),
     0 0.25rem 0.53125rem rgb(90 97 105 / 12%), 0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
     border-radius: 15px;
}

.card .card-header {
    line-height: 30px;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.card .card-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-group {
    margin-bottom: 25px;
}


.form-group>label {
    font-weight: 600;
    color: #34395e;
    font-size: 12px;
    letter-spacing: 0.5px;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control{
    background-color: #fdfdff;
    border-color: #e4e6fc;
    font-size: 14px;
    padding: 10px 15px;
    height: 42px;
}

.card .card-footer {
    background-color: transparent;
    border: none;
}

.boton{
    background-color:  #28a745;
    border-color: transparent !important;
    font-size: 14;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 6px #acb5f6;
    padding-bottom: 5px;
}

.navbar-bg {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: -1;
    background-color: #acb5f6;
}
.mr-auto{
    margin-right: auto !important;
}
.form-inline {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.sticky {
    position: fixed !important;
    top: 0;
}

.navbar-bg {
    background-color: #fff;
    box-shadow: 15px 9px 25px 0 rgb(0 0 0 / 10%);
}

.main-sidebar, .navbar, .main-content, .main-footer {
    transition: all 0.5s;
}

@media (max-width: 1024px){
.navbar {
    left: 5px;
    right: 0;
}}

.navbar {
    align-items: center;
}

.sticky {
    position: fixed !important;
    top: 0;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.navbar .nav-link {
    color: purple;
    padding-left: 12px !important;
    padding-right: 12px !important;
    height: 100%;
}

@media (max-width: 575.98px){
.navbar .nav-link {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.navbar .nav-link {
    color: #f2f2f2;
    padding-left: 12px !important;
    padding-right: 12px !important;
    height: 100%;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}}

.form-inline{
   background-color: orange;
}



.feather {
    width: 20px;
    height: 20px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.navbar-toggler-icon{
    background-color: gray;
}

.main-content {
    transition: all 0.5s;
}

@media (max-width: 1024px){
.navbar {
    left: 5px;
    right: 0;
}}

.navbar {
    align-items: center;
}
.sticky {
    position: fixed !important;
    top: 0;
    background-color: goldenrod;
}

.logo-header{
    height: 30px;
}

.logo-name {
    vertical-align: middle;
    font-size: 20px
}
